<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A Bootstrap Blog Template">
	<meta name="author" content="Vijaya Anand">

	{% if title %}
	<title>{{title}} - microblog</title>
	{% else %}
	<title>Welcome to microblog</title>
	{% endif %}

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link href="../static/blog.css" rel="stylesheet" />

</head>

<body>
	<!-- Header -->
	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">			
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!--<a href="index.html" class="navbar-brand">Blog</a>-->
				<a href="{{ url_for('index') }}" class="navbar-brand">Blog</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<form class="navbar-form navbar-right" role="search">
				  <div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
				
				{% set navigation_bar = [
				    ('/', 'index', 'Home'),
				    ('/contact', 'contact', 'Contact'),
				    ('/about', 'about', 'About'),
				] -%}
				{% set active_page = active_page|default('home') -%}
				
				<ul  class="nav navbar-nav">
					<!-- href is not used here! -->
					{% for href, id, caption in navigation_bar -%}
						<li {% if id == active_page %} class="active"{% endif%}>
							<a href="{{ url_for(id)|e }}">{{ caption|e }}</a>
						</li>
					{% endfor %}

					{% if current_user.is_anonymous -%}
						<li><a href="{{ url_for('login') }}">Login</a></li>
					{% else -%}
						<li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
						<li><a href="{{ url_for('logout') }}">Logout</a></li>
					{% endif %}
					<li><a href="{{ url_for('explore') }}">Explore</a></li>

					{% if user == current_user %}
						<li><a href="{{ url_for('edit_profile') }}">Edit your profile</a></li>
					{% endif %}
				</ul>

<!-- 				<ul class="nav navbar-nav">
					<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('contact') }}">Contact</a></li>
					<li><a href="{{ url_for('about') }}">About</a></li>
					{% if current_user.is_anonymous %}
					<li><a href="{{ url_for('login') }}">Login</a></li>
					{% else %}
					<li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
					{% endif %}
				</ul> -->
			</nav>
		</div>
	</header>

	<!-- Body -->
    {% block content %}{% endblock %}
	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<p class="text-center">Copyright &copy; Microblog 2018. All rights reserved.</p>
		</div>
	</footer>

	<!-- Jquery and Bootstrap Script files -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script type="text/javascript" src="../static/blog.js"></script>
</body>
</html>