<!doctype html>

<head>
    <meta charset="utf-8">
    <title>Login Test</title>

    <style>
        .error {
            color: red
        }

        .info {
            color: blue
        }
    </style>

</head>

<body>
    <h1>Login test</h1>
    {% if error %}
    <p class=error><strong>Error:</strong>
    {{ error }}
    {% endif %}
    {% block body %}{% endblock %}
    <form method=post>
    <dl>
    <dt>Username:
    <dd><input type=text name=username value="{{request.form.username }}">
    <dt>Password:
    <dd><input type=password name=password>
    </dl>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <p>
        <input type=submit value=Login>
    </p>
    </form>

</body>

</html>
